.fl-excerpt {
	color: $color__excerpt;
	margin-bottom: $gutter;

	&--menu {
		border: 1px solid $color__border;
		border-top: 0;
		padding: $padding;
		margin-bottom: $padding;
	}
}

.fl-menu-item-thumb {
	border-radius: 50%;
	float: none;
	margin: 0;
}
