// Variables

$base__font-size:   14px;
$base__font-weight: 400;
$color__excerpt:    #777777;
$color__primary:    #222222;
$color__border:     rgba(#CCC, 0.5);
$gutter:            15px;
$padding:           20px;
$trim:              30px;
